*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*modelo de cajas */
}

body{
    min-height: 100vh; /* alura minima del body al 100% de la ventana*/
    border: 2px solid black;
    background-color: white;
    height: 100vh; /*altura del body al 100% de la ventana*/
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;/*ancho del body al 100% de la patalla*/
    min-width: 100vw;
    max-width: 100vw;
}

h1{ /*selector de clase--> coinciden cn e html*/
    color: white;
    text-align: center;
   /* display: inline; /*transfoma elementos de bloque a elementos de linea*/

}

header{
    height: 12vh;
    width: 100vw;
    background-color: blue;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header figure{
    border: 2px solid black;
    height: 80%;
}

header figure img{
    height: 100%;
}

header h1{
    color: red;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
}

header nav{
    border: 2px solid black;
    color: yellow;
    display: inline-block; /*transforma elemento de liena a elementos de bloque*/
}

header nav a{
    border: 1px solid yellow;
    color: yellow;
    font-style: none;
    text-decoration: none;
    border-radius: 10px;
}

header nav a:hover{
    text-decoration: underline;
    background-color: rgba(rgb(0, 255, 26), green, blue, alpha);
}

main{
    height: 78vh;
    background-color: white;
}

footer{
    height: 10vh;
    background-color: grey;
}