*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 300vh;
}

header{
    background-color: black;
    /* flex-basis: 5%; relativa*/
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header div#menu{
    /* background-color: yellow; */
    border: 0px solid white;
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #menu i{
    color: white;
    font-size: 20px;
}

header figure{
    /* border: 1px solid white; */
    /* color: white; */
    flex-basis: 20%;
    height: 100%;
}

header figure img{
    height: 100%;
}



header form{
    /* background-color: aquamarine; */
    /* border: 1px solid white; */
    /* color: white; */
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

header form input{
    /* background-color: aqua; */
    padding: 6px;
    border-radius: 15px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

header nav{
    /* border: 1px solid white; */
    /* color: white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row; /* eje princpal*/
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;/* alineacon en el eje secundario*/
}

header nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav a:hover{
    color: rgb(218, 253, 111);
}

header #carrito{
    border: 1px solid white;
    color: white;
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header #carrito {
    font-size: 15px;
    color: green;
}

/*elementos de linea: img, a, span, i, input
elementos de bloques: el resto de estiquetas de este codigo*/

main{
    background-color: white;
    flex-basis: 65%;
    position: relative;
    border: 1px solid black;
}
main section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section article{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: 15%;
    position: relative;

    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    transition: transform 0.2s ease-in;
}
main section article :hover{
    transform: translate(-y);
}

main section article p{
    color: red;
}

main section article .badge{
    position: absolute; /* uso particular: efectos especiales*/
    top: 5px;
    left: 5px;
    color: white;
    background-color: rgb(183, 67, 139);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    width: 50%;
    z-index: 10; /* indica si la imagen esta atras o delante*/
    /* margin-top: 5px; */
    /* margin-left: 5px; */
}


main section article figure{
    height: 150px;
    display: flex;
    border: 1px solid black;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

main section article figure img{
    border: 0px solid blue;
    height: 100%;
    position: absolute;
    top: 0px;
} 

main section article .nombre{
    color: blue;
    font-family: 'Courier New', Courier, monospace;

}

main section article p{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main section article p .star i {
    font-size: 10px;
    color: yellow;
    margin-right: 3px;
}

main section article p .valoracion {
    font-size: 10px;
    color: red;
    margin-right: 3px;
}

main section article p .opinion {
    font-size: 10px;
    color: green;
    margin-right: 3px;
}

main section article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 100%;  
}

main section article div .dto {
    background-color: rgb(183, 67, 139);
    padding: 2px;
    border-radius: 7px;
    color: black;
    font-size: 12px;
    height: 50%;
}

main section article div .precio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section article div .precio .pvr {

}

main section article div .precio .pvp {
    font-size: 20px;
    font-weight: bold;
}

footer{
    background-color: black;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; mete todos los hijos e una fila */
    flex-wrap: wrap;
}

footer nav#sociales{
    border: 1px solid black;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

footer nav#sociales a{
    text-decoration: none;
    /* border: 1px solid black; */
    background-color:  rgb(0, 255, 106);
    padding: 5px;
    display: inline-block;

    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.3 ease-in;
}

footer nav#sociales a:hover{
    /* transform: translate(0px, -10px); */
    transform: rotate(45deg);
}

/* footer nav#sociales a:nth-child(1){
    margin-left: 30px;
} */

footer nav#sociales i{
    font-size: 30px;
    color: white;

}

footer div#suscribete{
    border: 1px solid black;
    flex-basis: 50%;
}
footer article{
    border: 1px solid black;
    flex-basis: 33%;
    padding-top: 20px;
    color: white;
}
footer article h3{
    color: white;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px;
}

footer article nav{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

footer article nav a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
article nav a i{
    font-size: 25px;
    margin-right: 15px;
}

article nav a span{
    font-size: 16px;
}